body{
    font: normal 12pt helvetica;
}
table{

    border: 1px solid #000;
}
a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: blue;
    margin-left: 10px;
}
a:hover{
    color: darkblue;
    text-decoration: underline;
}
td, th{
    border: 1px solid #000;
    padding: 10px 15px;
}
th{
    background-color: orange;
}
tr:hover{
    background-color: gray;
}
img{
    width: 24px;
}
abbr{
    text-decoration: none;
}